.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 25px;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
        cursor: pointer;
      }
    }

  
  }

  div{
    position: relative;
  }
  .js-nametag{
    position: relative;
    font-weight: bold;
  }
  .js-nametag:nth-child(1){
    animation-name: fade;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-duration: 10s;
    animation-direction: alternate-reverse;  
  }

  
  
  @keyframes fade{
      0%,50% {
        opacity: 0;
  }
      100%{
        opacity: 1;
    }
  }
  